<div class="left-side-nav-bar">
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "freshservice"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "dashboard"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "tickets"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "problems"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "changes"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "releases"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "alert"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "asset"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "projects"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "reports"}}</LinkTo>
  <LinkTo @route="assignment1" class="link__item">{{svg-jar "settings"}}</LinkTo> 
</div>
<div class="top-nav-bar">
  <div class="nav-right-icons">
    {{svg-jar "freshservice"}}
  </div>
  <div class="border-line"></div>
</div>
<div class="status-page-url-title">Status Page URL</div>
<div class="status-page-url-container">
  {{svg-jar "status-url-icon" class="status-icon-section"}}
  <div class="status-info-section">
    <div class="page-heading">Your public status page URL</div>
    <a href="" class="page-url">https://acmeinc.status.freshservice.com</a>
  </div>
</div>
<div class="enhance-status-page">Enhance your status page: Effortlessly configure services, customizations, and subscribers!</div>
<div class="config-card-container">
  <div class="card">
    <div class="card-image">
      {{svg-jar "service-card" class="status-icon-section"}}
    </div>
    <div class="card-info">
      <div class="configure-service">Configure services</div>
      <span class="customise-service">Effortlessly manage and customize your services to ensure accurate representation on the status page.</span>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      {{svg-jar "manage-subscriber" class="status-icon-section"}}
    </div>
    <div class="card-info">
      <div class="configure-service">Customize status page</div>
      <span class="customise-service">Tailor your status page to align perfectly with your brand by personalizing content and appearance.</span>
    </div>
  </div>
    <div class="card">
    <div class="card-image">
      {{svg-jar "manage-subscriber" class="status-icon-section"}}
    </div>
    <div class="card-info">
      <div class="configure-service">Manage subscribers</div>
      <span class="customise-service">Track and manage your Status page subscribers and the services they have subscribed</span>
    </div>
  </div>

</div>
